# Dependencies
node_modules/

# Build
.next/

# Tests
test/
.test/
.nyc_output/
cypress.config.ts
vitest.config.ts
.env.test
sonar-project.properties

# Tools
.github/
.idea/
docker/

# Docs
README.md

# Data
data/